﻿@using b141210046.App_GlobalResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top menu paragraf ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b> @Html.ActionLink(multi.olimpiyatlar, "Index", "Home", new { area = "" }, new { @class = "navbar-brand menu" })</b>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(multi.anasayfa, "Index", "Home", new { area = "" }, new { @class = "navbar-brand menu" })</li>
                    <li>@Html.ActionLink(multi.hakkımızda, "About", "Home", new { area = "" }, new { @class = "navbar-brand menu" })</li>
                    <li>@Html.ActionLink(multi.iletişim, "Contact", "Home", new { area = "" }, new { @class = "navbar-brand menu" })</li>
                    <li>@Html.ActionLink(multi.spor, "Spor", "Home", new { area = "" }, new { @class = "navbar-brand menu" })</li>
                    <li>@Html.ActionLink(multi.galeri, "Galeri", "Home", new { area = "" }, new { @class = "navbar-brand menu " })</li>
                    <li>@Html.ActionLink(multi.admin, "Index", "sliders", new { area = "" }, new { @class = "navbar-brand menu" })</li>
                    <li>@Html.ActionLink(multi.tr, "Change", "Home", new {lang="tr"},null)</li>
                    <li>@Html.ActionLink(multi.en, "Change", "Home", new {lang="en"},null)</li>
                </ul>
                @Html.Partial("_LoginPartial" )
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class=" menu">
            <p class="paragraf">&copy; @DateTime.Now.Year - OLİMPİYATLAR</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
