﻿@{
    ViewBag.Title = "İletişim";
}
<h3 class="yazi">@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-5">
        <img class="img-thumbnail" alt="200x200" src="~/Content/resim/saü.jpg" data-holder-rendered="true">
    </div>
    <div class="col-md-7">
        <h4 class="yazi">Ad-Soyad :</h4>
        <p class="paragraf">Şevval Tezcan</p>
        <h4 class="yazi">Bölüm :</h4>
        <p class="paragraf">Bilgisayar Mühendisliği</p>
        <h4 class="yazi">Numara :</h4>
        <p class="paragraf">B1412.10046</p>
        <h4 class="yazi">Grup :</h4>
        <p class="paragraf">1. Öğretim B Grubu</p>
    </div>
</div>