﻿
@{
    ViewBag.Title = "Galeri";
}

<h3 class="yazi">Galeri</h3>

<div class="row">

    <h4 class="yazi">Rio 2016 Olimpiyatları</h4>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Content/resim/rio1.jpg" alt="" width="1200" height="300" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/rio2.jpg" alt="" width="1200" height="300" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/rio3.jpg" alt="" width="1200" height="300" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/rio4.jpg" alt="" width="1200" height="300" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/rio5.jpg" alt="" width="1200" height="300" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/rio6.jpg" alt="" width="1200" height="300" />
                        </div>


                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
