﻿@{
    ViewBag.Title = "Anasayfa";
}

<div class="row">


    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Content/resim/atletizm1.jpg" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/olimpiyat 4.jpg" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/resim/olimpiyat 5.jpg" alt="" />
                        </div>


                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default ">
            <div class="panel-heading paragraf"> Sıradaki Olimpiyatlar</div>
            <div class="panel-body">

                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <img src="~/Content/resim/PyeongChang kıs.png" height="110" alt="">
                    </div>
                    <div class="blog-list-details">
                        <h4 class="blog-list-title paragraf">Pyeongchang Kış Olimpiyatları</h4>
                        <p class="blog-list-meta small-text paragraf"><span>Şubat 2018</span> </p>

                    </div>
                </div>

                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <img src="~/Content/resim/Tokyo_2020_Olympics_logo.svg.png" height="110" alt="">
                    </div>
                    <div class="blog-list-details">
                        <h4 class="blog-list-title paragraf">Tokyo Yaz Olimpiyatları</h4>
                        <p class="blog-list-meta small-text paragraf"><span>Temmuz 2020</span> </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row">
    @*<div class="col-md-3">
            <img class="featurette-img" src="~/Content/resim/olimpiya_mesale.jpg" alt="" width="270" height="270">
            <p>OLİMPİYAT TARİHİ</p>
            <p><a class="btn btn-default" href="#" role="button">DEVAMI... »</a></p>

        </div>*@

    <div class="col-md-3">
        <img class="img-thumbnail" alt="200x200" src="~/Content/resim/olimpiya_mesale.jpg" data-holder-rendered="true" style="width: 270px; height: 270px;">
        <p class="paragraf">Olimpiyat Tarihi</p>
        <p><a class="btn btn-default buton" href="http://www.bilgiustam.com/olimpiyatlarin-tarihcesi-ve-gelisimi/" role="button"><b><i>DEVAMI... »</i></b></a></p>
    </div>

    <div class="col-md-3">
        <img class="img-thumbnail" alt="200x200" src="~/Content/resim/usain.jpg" data-holder-rendered="true" style="width: 270px; height: 270px;">
        <p class="paragraf">Efsaneleşen Sporcular</p>
        <p><a class="btn btn-default buton" href="http://www.mailce.com/olimpiyatlarin-en-cok-madalya-kazanan-10-sporcusu.html" role="button"><b><i>DEVAMI... »</i></b></a></p>
    </div>

    <div class="col-md-3">
        <img class="img-thumbnail" alt="200x200" src="~/Content/resim/olimpiyat2.jpg" data-holder-rendered="true" style="width: 270px; height: 270px;">
        <p class="paragraf">Olimpiyatlardaki Spor Dalları</p>
        <p><a class="btn btn-default buton" href="http://sgm.gsb.gov.tr/Sayfalar/130/164/OlimpikSporDallari" role="button"><b><i>DEVAMI... »</i></b></a></p>
    </div>

    <div class="col-md-3">
        <img class="img-thumbnail" alt="200x200" src="~/Content/resim/turkiye.jpg" data-holder-rendered="true" style="width: 270px; height: 270px;">
        <p class="paragraf">Olimpiyatlarda Ülkemiz</p>
        <p><a class="btn btn-default buton" href="https://tr.wikipedia.org/wiki/Olimpiyat_Oyunlar%C4%B1'nda_T%C3%BCrkiye" role="button"><b><i>DEVAMI... »</i></b></a></p>
    </div>

</div>

