﻿@model b141210046.Models.spor

@{
    ViewBag.Title = "Spor";
}

<h3 class="yazi">Hangi Spor Sana Uygun?</h3>

@using (Html.BeginForm())
{
    <p>Boyunuz....: @Html.TextBoxFor(x => x.boy)</p>
    <p>Kilonuz......: @Html.TextBoxFor(x => x.kilo)</p>
    <p>Yaşınız......: @Html.TextBoxFor(x => x.yas)</p>
    <p>
        Cinsiyetiniz.:@Html.DropDownListFor(x => x.cinsiyet, new[]
                 {
                     new SelectListItem() {Text="Kız" , Value=bool.TrueString},
                      new SelectListItem() {Text="Erkek" , Value=bool.FalseString}
                 }, "Seçim Yapınız")
    </p>
    <input type="submit" class="buton paragraf" value="Gönder" />

}