﻿@{
    ViewBag.Title = "Hakkımızda";
}

<h3><p class="yazi"> Sayfanın Amacı</p></h3>

<div class="row">
    <div class="col-md-5">
        <img class="img-thumbnail" alt="200x200" src="~/Content/resim/olimpiyat1_logo.jpg" data-holder-rendered="true" >
    </div>
    <div class="col-md-7">
        <p class="paragraf">"Dünya'nın En Büyük Spor Olayı" olarak kabul edilen olimpiyatların tarihi karanlık çağlarına dayalı olup, gerçeklerle efsanelerin birleşimi
         ve duygularla abartıların karışımından oluşan bir sis tabakası ardında gizlenmiş gibidir.Tanrılar veya yöresel bir kahraman adına yapıldığı
         tahmin edilen bu büyük şölenin,çok fazla ayrıntıya girilmeden temel bilgilerini vermeyi amaçlıyorum.Sitemde olimpiyat tarihi , ülkemizin
         olimpiyatlarda ki yeri gibi bilgiler yer alıyor.
        </p>
    </div>
</div>