﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.menu{
    background-color: #99CC99;
    color:white;
}

.buton {
            background-color: #339966;
            color: #ffffff;
}

.yazi{
    color:darkcyan;
    font-family:'Berlin Sans FB';
}

.paragraf{
    font-size:large;
    font-family:'Berlin Sans FB';
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

