﻿
@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="yazi">Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="paragraf">@Html.ActionLink("Admin", "Index", "sliders")</li>
                        <li class="paragraf">@Html.ActionLink("Slide", "Slider", "sliders")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="yazi">Admin Duyuru</h4>
                    </div>
                    <div class="panel-body">
                        <p class="paragraf">
                           Bu sayfaya uygun olduğunu düşündüğünüz resimleri slider butonuna tıklayarak ekleyiniz. Beğenmediklerinizi siliniz en uzun süre kalan resimler anasayfada ki slider e eklenecek.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

